<footer class="blue-grad w-100 pt-4 mt-big">
    <div class="container">
        <div class="row">
            <h5>GCentral</h5>
        </div>
        <div class="row mt-4">
            <div class="col-2">
                <h6>Company</h6>
                <br>
                <a href="about">About</a><br>
                <a href="about#contact">Contact Us</a>
            </div>
            <div class="col-3">
                <h6>Resources</h6>
                <br>
                <a href="resources#links">Community Links</a><br>
                <a href="resources#partners">Community Partners</a><br>
                <a href="resources#events">Livestreaming Events</a><br>
                <a href="resources#highlights">Community Highlights</a>
            </div>
            <div class="col-2">
                <h6>Help</h6>
                <br>
                <a href="faq.php">FAQs</a>
            </div>
            <div class="col-1"></div>
            <div class="col-4">
                <h6>Get started for free</h6>
                <a class="btn btn-sm ltblue-inv" href="/register" style="font-weight: 600;">Sign Up</a>
                <h6 class="mt-5">Follow Us</h6>
                <a href="https://twitter.com/GCentralOrg" target="_blank" class="social"><img src="/images/social/twitter.png"></a>
                <a href="https://www.facebook.com/GCentralOrg/" target="_blank" class="social"><img src="/images/social/facebook.png"></a>
                <a href="https://www.instagram.com/gcentralorg/" target="_blank" class="social"><img src="/images/social/instagram.png"></a>
                <a href="https://www.linkedin.com/company/gcentral/" target="_blank" class="social"><img src="/images/social/linkedin.png"></a>
                <a href="https://lavag.org/forum/56-gcentral/" target="_blank" class="social"><img src="/images/social/lavag.png"></a>
                <a href="https://www.youtube.com/channel/UCInFP827vN9xi5CG5rS1LZQ" target="_blank" class="social"><img src="/images/social/youtube.png"></a>
            </div>
        </div>
        <div class="text-center mt-4 w-100 pb-2">
            <p style="font-size: 11px;">©GCentral 2020. "GC" Logo is a trademark of GCentral.<br>DAQ, CompactRIO, LabVIEW, NI Tools Network, NI, NI TestStand, NI VeriStand are trademarks of National Instruments.</p>
        </div>
    </div>
</footer>