{% extends 'base.html.twig' %}

{% block title %}Your Profile{% endblock %}

{% block body %}
    <div class="container text-center pt-3">
        <a href="{{ path('change_pass') }}" class="btn btn-dark">Change Password</a>
    </div>
{% endblock %}
