/* Make the page background white.
Set the panel to grey with a drop shadow. */
ni-front-panel {
    background-color: #fafafa;
    box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.75);
}


/* Set LEDs colors for DataGrid control */
ni-data-grid[ni-control-id='80746070eae04130b35cc889799a5ca0'] jqx-led {
    --ni-control-background-color: red;
    --ni-true-background: lime;}

.transparent-string {
    --ni-border: none;
    --ni-indicator-background-color: transparent;
    --ni-control-background-color: transparent;
}
