{% extends 'base.html.twig' %}

{% block title %}Share{% endblock %}

{% block pageBanner %}
    <div class="col-6 mt-3 mb-3">
        <h4>Resources for sharing your project</h4>
    </div>
{% endblock %}

{% block body %}
<div class="container">
    <p>While not specifically contributing to GCentral, please consider sharing your package with the community through your choice of package manager.  Part of GCentral's mission is to help you to build and share your packages as easily as possible.  While the tools we envision are not in place yet, please see the following resources on how to package your tools and share them:</p>
    <div class="row justify-content-around">
        <div class="col-12 col-md-6 col-lg-4 p-3">
            <div class="card text-center">
                <div class="card-header blue-grad mb-3">
                    <h6 class="mb-0">Getting started with VI Package Manager</h6>
                </div>
                <div class="p-3">
                    <p>In this video, you'll learn how to make your first VI Package.</p>
                    <a href="#" class="gc-link">View <img src="images/arrow-right.png"></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 p-3">
            <div class="card text-center">
                <div class="card-header blue-grad mb-3">
                    <h6 class="mb-0">Contributing to the NI Tools Network</h6>
                </div>
                <div class="p-3">
                    <p>Learn about and contribute to the NI Tools Network of VI Packages.</p>
                    <a href="#" class="gc-link">View <img src="images/arrow-right.png"></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 p-3">
            <div class="card text-center">
                <div class="card-header blue-grad mb-3">
                    <h6 class="mb-0">Using NI Package Manager (NIPM)</h6>
                </div>
                <div class="p-3">
                    <p>See the Introduction to NI Package Manager on the NI Package Manager Portal.</p>
                    <a href="#" class="gc-link">View <img src="images/arrow-right.png"></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 p-3">
            <div class="card text-center">
                <div class="card-header blue-grad mb-3">
                    <h6 class="mb-0">Using G Package Manager</h6>
                </div>
                <div class="p-3">
                    <p>Visit the GPackage Wiki home to learn about installing and using G Package Manager.</p>
                    <a href="#" class="gc-link">View <img src="images/arrow-right.png"></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 p-3">
            <div class="card text-center">
                <div class="card-header blue-grad mb-3">
                    <h6 class="mb-0">Package Manager Comparison</h6>
                </div>
                <div class="p-3">
                    <p>This is the comparison of package management solutions in the LabVIEW community.</p>
                    <a href="#" class="gc-link">View <img src="images/arrow-right.png"></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 p-3">
            <div class="card text-center">
                <div class="card-header blue-grad mb-3">
                    <h6 class="mb-0">What tools are needed?</h6>
                </div>
                <div class="p-3">
                    <p>Learn what applications will be needed to use the various tools and how they can work with GCentral.</p>
                    <a href="#" class="gc-link">View <img src="images/arrow-right.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
