{{ define "main" }}
  {{ with .Site.Data.home.hero }}{{ partial "sections/hero.html" . }}{{ end }}
  {{ with .Site.Data.home.brands }}{{ partial "sections/brands.html" . }}{{ end }}
  {{ with .Site.Data.home.portfolio }}{{ partial "sections/portfolio.html" . }}{{ end }}
  {{ with .Site.Data.home.services }}{{ partial "sections/services.html" . }}{{ end }}
  {{ with .Site.Data.home.testimonials }}{{ partial "sections/testimonials.html" . }}{{ end }}
  {{ with .Site.Data.home.cta }}{{ partial "sections/cta.html" . }}{{ end }}
{{ end }}
