  <div class="container mb-4">
    <div class="flex justify-center font-semibold md:text-base">
      {{ with .content.title }}
        <div class=" text-primary pb-2 text-neutral-500 dark:text-neutral-300">{{ . }}</div>
      {{ end }}
    </div>
    <div class="flex justify-center">
	  {{ range .content.light }}
      <div class="px-3 my-2 dark:hidden">
        {{ partial "image-third.html" . }}
      </div>
      {{ end }}
	  {{ range .content.dark }}
      <div class="px-3 my-2 hidden dark:flex">
        {{ partial "image-third.html" . }}
      </div>
	  {{ end }}
	  </a>
    </div>
  </div>
