{% extends 'base.html.twig' %}

{% block title %}Update Packages{% endblock %}

{% block pageBanner %}
    <div class="col-6 mt-3 mb-3">
        <h4>Update Packages</h4>
    </div>
{% endblock %}

{% block body %}
    <div id="update_packages"></div>
{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('update_packages') }}
{% endblock %}